
*.tif
.Rproj.user
storymap-info/shapefiles/.DS_Store
storymap-info/shapefiles/frogtown.zip
storymap-info/shapefiles/neighborhoods.dbf
storymap-info/shapefiles/neighborhoods.prj
storymap-info/shapefiles/neighborhoods.shp
storymap-info/shapefiles/neighborhoods.shx
storymap-info/shapefiles/realign blocks/Census2010RealignBlock.dbf
storymap-info/shapefiles/realign blocks/Census2010RealignBlock.prj
storymap-info/shapefiles/realign blocks/Census2010RealignBlock.shp
storymap-info/shapefiles/realign blocks/Census2010RealignBlock.shx
storymap-info/shapefiles/stpaul_nhoods.dbf
storymap-info/shapefiles/stpaul_nhoods.prj
storymap-info/shapefiles/stpaul_nhoods.shp
storymap-info/shapefiles/stpaul_nhoods.shx
storymap-info/shapefiles/stpaul_nhoods.zip
storymap-info/shapefiles/tree_tracts.dbf
storymap-info/shapefiles/tree_tracts.prj
storymap-info/shapefiles/tree_tracts.shp
storymap-info/shapefiles/tree_tracts.shx
storymap-info/shapefiles/tree_tracts.zip
society_census2010realign.gpkg
storymap-info/.DS_Store
inst/app/www/ohmans.jpeg
inst/app/www/notes.pdf
inst/app/www/notes.pdf
inst/app/www/3026 copy.png
.DS_Store

data-raw/cache/

biota_original_pls_bearing_trees.gpkg

water_lakes_rivers.gpkg

data-raw/shared_drive.R
storymap-info/shapefiles/race.dbf
storymap-info/shapefiles/race.prj
storymap-info/shapefiles/race.shp
storymap-info/shapefiles/race.shx
storymap-info/shapefiles/race.zip
storymap-info/shapefiles/test.dbf
storymap-info/shapefiles/test.prj
storymap-info/shapefiles/test.shp
storymap-info/shapefiles/test.shx
storymap-info/shapefiles/canopy.dbf
storymap-info/shapefiles/canopy.prj
storymap-info/shapefiles/canopy.shp
storymap-info/shapefiles/canopy.shx
storymap-info/shapefiles/canopy.zip
storymap-info/lerp-skiing.jpeg
storymap-info/pics/.DS_Store
storymap-info/pics/3904.jpg
storymap-info/pics/afton.jpg
storymap-info/pics/bccs/image_50406913.JPG
storymap-info/pics/bccs/IMG_5843.JPG
storymap-info/pics/bccs/IMG_7152.jpg
storymap-info/pics/fragmentation after.png
storymap-info/pics/fragmentation before.png
storymap-info/pics/modeled.png
storymap-info/pics/moderateemissions.png
storymap-info/pics/Patricia Ohmans.jpg
storymap-info/pics/rangechange.png
storymap-info/pics/remediation copy.png
storymap-info/pics/remediation.png
storymap-info/pics/usfs_fig.png
storymap-info/shapefiles/copd.dbf
storymap-info/shapefiles/copd.prj
storymap-info/shapefiles/copd.shp
storymap-info/shapefiles/copd.shx
storymap-info/shapefiles/copd.zip
storymap-info/shapefiles/income.dbf
storymap-info/shapefiles/income.prj
storymap-info/shapefiles/income.shp
storymap-info/shapefiles/income.shx
storymap-info/shapefiles/income.zip
storymap-info/shardlow.jpeg
storymap-info/treetrust.jpeg
storymap-info/wakan tipi.png
storymap-info/pics/remediation.png
storymap-info/pics/3904.jpg
storymap-info/pics/.DS_Store
storymap-info/Cities_Tree_Infographic_UrbanTreesCampaign_SocialMedia_NoLogos.png
storymap-info/2945.jpg
*.kml
data-raw/training data for tree classifier/LandcoverSample.cpg
data-raw/training data for tree classifier/LandcoverSample.dbf
data-raw/training data for tree classifier/LandcoverSample.fix
data-raw/training data for tree classifier/LandcoverSample.prj
data-raw/training data for tree classifier/LandcoverSample.shp
data-raw/training data for tree classifier/LandcoverSample.shx
storymap-info/shapefiles/highestpriority.dbf
storymap-info/shapefiles/highestpriority.prj
storymap-info/shapefiles/highestpriority.shp
storymap-info/shapefiles/highestpriority.shx
storymap-info/shapefiles/highestpriority.zip
storymap-info/shapefiles/highestp.zip
.Rhistory
