:root {
    --council-blue: #0054a4;
    --council-black: #252525;
    --council-white: #FFFFFF;
    --council-gray: #EDEDED;
    --cd-green: #78A22F;
    --mts-red: #EE3124;
    /* blue cascade with backround and text color */
    --background-blue-0: #002b5c;
    --color-blue-0: #ffffff;
    --background-blue-1: #01408a;
    --color-blue-1: #ffffff;
    --background-blue-2: var(--council-blue);
    --color-blue-2: var(--council-white);
    --background-blue-3: #A5BAD5;
    --color-blue-3: #002b5c;
    --background-blue-4: #cad3e0;
    --color-blue-4: #002b5c;
    --background-blue-5: #e0e3e8;
    --color-blue-5: #002b5c;
    --background-blue-6: var(--council-gray);
    --color-blue-6: #002b5c;
    --background-blue-7: #f7f7f7;
    --color-blue-7: #002b5c;
    --background-blue-8: --var(--council-white);
    --color-blue-8: #002b5c;
}


/* Light */
@font-face {
  font-family: "Light";
  font-style: normal;
  src: local("HelveticaNeue Light"), local("HelveticaNeue-Light"), url(helveticaneueltstd-lt-webfont.woff) format("woff");
}

/* Condensed */
@font-face {
  font-family: "Condensed";
  font-style: normal;
  src: local("HelveticaNeue Condensed"), local("HelveticaNeue-Condensed"), url(helveticaneueltstd-cn-webfont.woff) format("woff");
}

/* Bold condensed */
@font-face{
  font-family: "Bold-Condensed";
  font-style: normal;
  src: local("HelveticaNeue Condensed Bold"), local("HelveticaNeue-Condensed-Bold"), url(helveticaneueltstd-bdcn-webfont.woff) format("woff");
}

/* Medium */
@font-face{
  font-family: "Medium";
  font-style: normal;
  src: local("HelveticaNeue Medium"), local("HelveticaNeue-Medium"), url(helveticaneueltstd-md-webfont.woff) format("woff");
}

/* Medium Condensed */
@font-face{
  font-family: "Medium-Condensed";
  font-style: normal;
  src: local("HelveticaNeue Medium Condensed"), local("HelveticaNeue-Medium-Condensed"), url(helveticaneueltstd-mdcn-webfont.woff) format("woff");
}

/* Roman */
@font-face{
  font-family: "Roman";
  font-style: normal;
  src: local("HelveticaNeue Roman"), local("HelveticaNeue-Roman"), url(helveticaneueltstd-roman-webfont.woff) format("woff");
}


.box.box-solid.box-danger>.box-header {
    color: var(--council-white);
    background: var(--council-blue);
}

.box.box-solid.box-danger>.box-header>.box-title {
    color: var(--council-white) !important;
    background: var(--council-blue);
}

.box.box-solid.box-danger {
    border-bottom-color: var(--council-blue);
    border-left-color: var(--council-blue);
    border-right-color: var(--council-blue);
    border-top-color: var(--council-blue);
}

.box.box-danger>.box-header {
    color: var(--council-blue);
    background: var(--council-white);
}

.box.box-danger {
    border-bottom-color: var(--council-blue);
    border-left-color: var(--council-blue);
    border-right-color: var(--council-blue);
    border-top-color: var(--council-blue);
}


.box-header .box-title,
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    text-transform: lowercase;
}

.box-title::first-letter {
    text-transform: capitalize;
}


.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;
    color: black;
    text-align: center;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 30px;
}

.modal-body {
    position: relative;
    padding: 15px;
    font-size: 24px;
}

div.outer {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}

.leaflet-top,
.leaflet-bottom {
    z-index: unset !important;
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;
    color: black;
    text-align: center;
}


/*
iframe {
  margin: 0 !important;
  width:100% !important; 
  padding:0 !important;
  border:none !important;
}*/

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 30px;
}

.modal-body {
    position: relative;
    padding: 15px;
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    /*margin-top: 0;*/
    /*margin-bottom: 1rem;*/
    font-weight: 300;
    color: var(--council-blue);
    font-family: Roman, Helvetica, Tahoma, Geneva, Arial, sans-serif, sans-serif;/*Light, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial, sans-serif;*/
    max-width: 1200px;
    width: auto;
}

ol,
ul,
li {
    margin: 0 auto;
    max-width: 1200px;
    width: auto;
}

h1 {
    font-size: 36pt;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 22pt;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 20pt;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 18pt;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 16pt;
    line-height: 1.3;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 14pt;
    line-height: 1.6;
    letter-spacing: 0;
}

body {
    font-size: 12pt;
    line-height: 1.6;
    font-weight: 100;
    font-family: Roman, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    background-color: var(--council-white);
    color: var(--council-black);
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
}

p {
   /* margin: 0 auto !important;*/
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: 1em;
    /*0 10px;*/
    font-size: 12pt;
    max-width: 1200px;
    width: auto;
}

b,
strong {
    font-family: Medium !important;
    font-weight: 100 !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 99%;
}


a {
    font-family: Bold-Condensed;
    color: var(--council-blue);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #0070e0;
}


.btn {
  font-family: Roman, Helvetica, Tahoma, Geneva, Arial, sans-serif;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid /*transparent;*/
	padding: 6px 12px;
	font-size: 13pt;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.dropdown-menu > li > a {
	color: var(--council-gray);
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	font-family: Roman, Helvetica, Tahoma, Geneva, Arial, sans-serif;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	color: #fff;
	text-decoration: none;
	background-color: var(--council-blue);
	outline: 0;
}

/*
#input_demos_ui_1-inputCensusTracts {
	margin-left: 5%;
	z-index: 900;
}

#notes {
	margin-left: 4%;
	margin-right: 4%;
	width: 90%;
}

#mod_summary_ggplot_ui_1-text_info {
  font-size: 1.6rem;
}
*/


/*
.navbar.navbar-default.navbar-static-top {
	margin-bottom: 12px;
}

*/

.navbar-default {
    background-color: var(--council-gray);
    border-color: var(--council-gray);
    color: var(--council-blue);
    font-size: 16pt;
    text-transform: uppercase;
 /*   margin-left: auto;
    margin-right: auto;*/
        float:none;
  display: inline-block;
  justify-content: center;
  text-align: center; !important
    align-items: center !important;
    font-family: Bold-Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    height: 95px;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
}

.navbar-brand {
    font-family: Bold-Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    color: var(--council-blue);
}

.navbar-default .navbar-nav>li>a {
    color: var(--council-blue);
    height: 95px;
    padding-top: 39.5px;
    padding-bottom: 39.5px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: var(--council-blue);
    background-color: #d6d6d6;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: var(--council-blue);
    background-color: #d6d6d6;
    height: 95px;
}

.navbar-collapse {
    background-color: var(--council-gray) !important;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
}


/*
.wrap{max-width:100%;margin:0px auto;}
@media screen and (max-device-width:1200px),screen and (max-width:1200px){.wrap{max-width:1200px;
 margin:0px auto;}}


*/


/*
@media (min-width: 1200px){ 
    img, p, h1, h2, ol, ul {
        max-width: 1200px;
    }
}

@media (min-width: 992px, max-width: 1199px){
    img, p, h1, h2, ol, ul {
        max-width: 992px;
    }
}

@media (min-width: 768px, max-width: 991px){
    img, p, h1, h2, ol, ul {
        max-width: 768px;
    }
}

@media (min-width: 576px, max-width: 767px){ 
    img, p, h1, h2, ol, ul {
        max-width: 576px;
    }
}

@media (max-width: 575px){ 
    img, p, h1, h2, ol, ul {
        max-width: 575px;
    }
*/


}
.tab-content {
    min-width: 950px;
    padding: 5px;
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
    max-width: 100%;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px transparent;
}
.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    font-size: 150%;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}

  .d-none {
  display: none !important;
  }
  .d-block {
  display: block !important;
}

@media (min-width: 992px) {
.d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
}
